<h4>Album Name: <%= @album.name %></h4>
<h4>Year: <%= @album.year %></h4>
<h4>Genre: <%= @album.genre %></h4>
<h4>Description: <%= @album.description %></h4>

<p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
<a href="/albums">Return to album list</a>
